{% extends 'base.html' %}

{% block main_contents %}
<div class="container">
    <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Full Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Position</th>
          </tr>
        </thead>
        <tbody>
          {% for employee in employee_list  %}
          var i=1
          <tr>
           
            <td>i++</td>
            <td>{{employee.FullName}}</td>
            <td>{{employee.Mobile}}</td>
            <td>{{employee.Position}}</td>

          </tr>
          {% endfor %}
            
          
          
        </tbody>
      </table>
</div>
    
{% endblock main_contents %}
    